/* FULL PAGE BACKGROUND */
.login-wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg,#c0c1dc,#dfe7fd);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* MAIN CONTAINER */
.login-container {
  width: 80%;
  min-height: 80vh;
  background: white;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 15px 40px rgba(0,0,0,0.2);
  animation: fadeIn 0.8s ease;
}

/* LEFT SECTION */
.left-section {
  width: 50%;
  background: linear-gradient(135deg,#eaf8f8,#d7f3f0);
  padding: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.left-section h1 {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 15px;
}

.left-section h1 span {
  color: #29c07b;
}

.left-section p {
  font-size: 18px;
  color: #666;
}

/* DOCTOR IMAGE */
.doctor-img-login {
  width: 350px;
  position: absolute;
  bottom: 60px;
  animation: float 3s ease-in-out infinite;
}

/* RIGHT SECTION */
.right-section {
  width: 50%;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* LOGIN TITLE */
.brand-title {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.brand-title span {
  color: #29c07b;
}

/* LABEL */
label {
  font-size: 15px;
  margin-top: 15px;
  display: block;
  color: #333;
}

/* INPUT FIELD */
.input-box {
  width: 100%;
  padding: 12px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.25s ease;
}

/* INPUT FOCUS EFFECT */
.input-box:focus {
  border-color: #29c07b;
  box-shadow: 0 0 6px rgba(41,192,123,0.4);
  outline: none;
}

/* PASSWORD BOX */
.password-box {
  /*border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0;
  overflow: hidden;
  height: 50px;*/
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  height: 50px;
  overflow: hidden;
}

.password-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 12px;   /* only horizontal padding */
  box-sizing: border-box;
}

.password-box:focus-within {
  border-color: #29c07b;
  box-shadow: 0 0 6px rgba(41,192,123,0.4);
}

/* TOGGLE EYE ICON */
.toggle-eye {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: 18px;
  transition: 0.2s;
}

.toggle-eye:hover {
  color: #000;
}

/* ERROR MESSAGE */
.error-msg {
  color: red;
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 10px;
}

/* LOGIN BUTTON */
.login-btn {
  width: 100%;
  padding: 13px;
  background: linear-gradient(135deg,#29c07b,#22a96d);
  border: none;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* BUTTON HOVER */
.login-btn:hover {
  transform: scale(1.04);
  box-shadow: 0 8px 25px rgba(41,192,123,0.5);
}

/* LINKS */
.links {
  text-align: center;
  margin-top: 20px;
}

.links a {
  color: #0da68b;
  text-decoration: none;
  font-weight: 500;
}

.links a:hover {
  text-decoration: underline;
}

.links p {
  margin-top: 10px;
}

/* FLOATING IMAGE ANIMATION */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

/* PAGE LOAD ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}