/* FULL PAGE BACKGROUND */
.register-page .login-wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg,#c0c1dc,#dfe7fd);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* MAIN BOX */
.register-page .login-container {
  width: 80%;
  background: white;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 15px 40px rgba(0,0,0,0.2);
  min-height: 80vh;     /* instead of height */
  animation: fadeIn 0.8s ease;
}


/* LEFT SECTION */
.register-page .left-section {
  width: 50%;
  background: linear-gradient(135deg,#eaf8f8,#d7f3f0);
  padding: 60px; /*controls padding of image and title*/
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* height: 100%; */
}

.register-page .left-section h1 {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 12px;  /*heading up and down spacing*/
  /* margin-top: 3px; */
}

.register-page .left-section h1 span {
  color: #29c07b;
}

.register-page .left-section p {
  font-size: 18px;
  color: #666;
}
.register-page.doctor .doctor-imgg {
  /* width: 350px;
  margin-top: 50px; */
  width: 380px;
  position: absolute;
  bottom: 46px;
  animation: float 3s ease-in-out infinite;
}
.register-page.patient .doctor-imgg {
  /* width: 350px;
  margin-top: 50px; */
  width: 356px;
  position: absolute;
  bottom: 40px;
  animation: float 3s ease-in-out infinite;
}

/* RIGHT SECTION */
.register-page.doctor .right-section {
  width: 50%;
  padding: 20px 80px;   /* controls padding of form */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.register-page.patient .right-section {
  width: 50%;
  padding: 63px 80px;   /* controls padding of form */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-page.doctor .brand-title {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
}
.register-page.patient .brand-title {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.register-page .brand-title span {
  color: #29c07b;
}

.register-page.doctor label {
  font-size: 15px;
  margin-top: 20px;
  display: block;
  text-align: left;           /* ensures text is left-aligned */
  width: 100%;                /* label spans full width */
}
.register-page.patient label {
  font-size: 15px;
  margin-top: 15px;
  display: block;
  color: #333;
}

/* INPUT */
.register-page .input-box {
  width: 100%;
  padding: 12px;   /*size of the input box*/
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.25s ease;
}

/* INPUT FOCUS EFFECT */
.register-page .input-box:focus {
  border-color: #29c07b;
  box-shadow: 0 0 6px rgba(41,192,123,0.4);
  outline: none;
}

/* PASSWORD BOX */
.register-page .password-box {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  height: 50px;
  overflow: hidden;
}

.register-page .password-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 12px;   /* only horizontal padding */
  box-sizing: border-box;
}

.register-page .password-box:focus-within {
  border-color: #29c07b;
  box-shadow: 0 0 6px rgba(41,192,123,0.4);
}

/* ERROR MESSAGE */
.register-page .error-msg {
  color: red;
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 10px;
}

.register-page .toggle-eye {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: 18px;
  transition: 0.2s;
}

.register-page .toggle-eye:hover {
  color: #000;
}

/* BUTTON */
.register-page .login-btn {
  width: 100%;
  padding: 13px;
  background: linear-gradient(135deg,#29c07b,#22a96d);
  border: none;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* BUTTON HOVER */
.register-page .login-btn:hover {
  transform: scale(1.04);
  box-shadow: 0 8px 25px rgba(41,192,123,0.5);
}

/* LINKS */
.register-page .links {
  text-align: center;
  margin-top: 20px;
}

.register-page .links a {
  color: #0da68b;
  text-decoration: none;
  font-weight: 500;
}

.register-page .links a:hover {
  text-decoration: underline;
}

.register-page .links p {
  margin-top: 10px;
}

/* FLOATING IMAGE ANIMATION */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

/* PAGE LOAD ANIMATION */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}